@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  
  color:darkslategray;
}

h4 {
  color:darkcyan;
}

table, th, td {
  border: 1px solid cadetblue;
  border-collapse: collapse;
}

thead {
	color: white;
	background-color: cadetblue;
}

tr:nth-child(even){ 
	background-color: #f2f2f2;
}

th, td {
	padding: 5px 10px;
}

td:nth-of-type(3) {
  text-align: right;
}