@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;  
  color:darkslategray;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
  color:darkcyan;
}

table, th, td {
  border: 1px solid cadetblue;
  border-collapse: collapse;
}

thead {
  color: white;
  background-color: cadetblue;
}

tr:nth-child(even){ 
  background-color: #f2f2f2;
}

th, td {
  padding: 5px 10px;
}

td form {
  display: inline-block;
}

label {
  text-align: right;
}

input {
  margin: 2px;
}

.button {
  display: inline-block;
  
  min-width: 80px;
  
  margin: 2px 4px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  
  text-align: center;
  text-decoration: none;
  
  
  
  background-color: darkcyan;
  color: white;
  
  cursor: pointer;
}