<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Curso: Java Avanzado - TP 4</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <h1>Argentina Programa 4.0 - Universidad Nacional de Jujuy</h1>
  <h2>Curso: Java Avanzado</h2>
  <h3>Trabajo Práctico Nº 4: Spring Boot - MVC</h3>  
  
  <h4>Profesores</h4>
  
  <table>
    <thead>
      <tr>
		<th>ID</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Legajo</th>
	  </tr>
	</thead>
	<tbody>
	  <tr th:each="profesor : ${listaProfesores}">
        <td th:text=${profesor.id}></td>
        <td th:text=${profesor.apellidos}></td>
        <td th:text=${profesor.nombres}></td>
        <td th:text=${profesor.legajo}></td>
	  </tr>
	</tbody>
  </table>
</body>
</html>