<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Curso: Java Avanzado - TP 4</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Argentina Programa 4.0 - Universidad Nacional de Jujuy</h1>
  <h2>Curso: Java Avanzado</h2>
  <h3>Trabajo Práctico Final de <em>José Albano</em></h3>
  
  <h4>Estudiantes</h4>
  
  <form method="get" th:action="@{/estudiantes/new}">
    <button type="submit" class="button">Agregar Estudiante</button>
  </form>
  <br>
  
  <table>
    <thead>
      <tr>
		<th>ID</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>E-Mail</th>
        <th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr th:each="estudiante : ${listaEstudiantes}">
        <td th:text=${estudiante.id}></td>
        <td th:text=${estudiante.apellido}></td>
        <td th:text=${estudiante.nombre}></td>
        <td th:text=${estudiante.email}></td>
        <td>
          <form method="get" th:action="@{/estudiantes/edit/{id}(id=${estudiante.id})}">
            <button type="submit" class="button">Editar</button>
          </form>
          <form method="get" th:action="@{/estudiantes/delete/{id}(id=${estudiante.id})}">
            <button type="submit" class="button">Eliminar</button>
          </form>
		</td>
	  </tr>
	</tbody>
  </table>
</body>
</html>