<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Curso: Java Avanzado - TP 1</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Argentina Programa 4.0 - Universidad Nacional de Jujuy</h1>
  <h2>Curso: Java Avanzado</h2>
  <h3>Trabajo Práctico Nº 1: Spring Boot - Thymeleaf - Lombok</h3>  
  
  <h4>Profesor</h4>
  
  <table>
    <thead>
      <tr>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Legajo</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
        <td th:text=${unProfesor.apellidos}></td>
        <td th:text=${unProfesor.nombres}></td>
        <td th:text=${unProfesor.legajo}></td>
	  </tr>
	</tbody>
  </table>
</body>
</html>